body {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  background-color: rgba(244, 236, 227, 0.954);
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #4f4d4d; /* Background color of the navbar */
  margin-bottom: 25px;
}

.nav-logo {
  height: 40px; /* Adjust height as needed */
  width: auto;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.nav-logo:hover {
  transform: scale(1.5);
}

#nav-items {
  display: flex;
  list-style: none; /* Remove default list styling */
  margin: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#nav-items li {
  margin-left: 20px; /* Space between navbar items */
}

#nav-items a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline from links */
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

#nav-items a:hover {
  background-color: #a5a3a34e; /* Background color on hover */
  border-radius: 5px; /* Rounded corners on hover */
}

#socials {
  display: flex;
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding-right: 30px;
  justify-content: end;
}

#socials li {
  margin-left: 30 px;
}

#socials a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline from links */
  padding: 10px;
  transition: background-color 0.3s ease;
}

#socials svg:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}

section {
  margin: 25px 100px;
  padding: 15px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 15px;
}

/* .about p {
  font-size: 25px;
} */

.typewrite-container {
  height: 1.5em; /* Adjust this height based on your font size */
  display: flex;
  align-items: center; /* Vertically center the typewriting text */
  justify-content: center;
}

.contact h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#contact-form button:hover {
  background-color: #555;
}

#content-container {
  padding: 20px;
  margin-top: 20px;
}

