/* Basic reset and styling */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333; /* Background color of the navbar */
}
nav a {
  text-decoration: none;
  color: #fff; /* White text color */
  font-size: 16px;
}

.nav-logo {
  height: 40px; /* Adjust height as needed */
  width: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.5); /* Slight zoom effect on hover */
}

#nav-items {
  display: flex;
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
}

#nav-items li {
  margin-left: 20px; /* Space between navbar items */
}

#nav-items a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline from links */
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

#nav-items a:hover {
  background-color: #555; /* Background color on hover */
  border-radius: 5px; /* Rounded corners on hover */
}

#socials {
  display: flex;
  list-style: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
}

#socials li {
  margin-left: 30 px;
}

#socials a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline from links */
  padding: 8px;
  transition: background-color 0.3s ease;
}

#socials a:hover {
  background-color: #7b7a7a; /* Background color on hover */
  border-radius: 5px; /* Rounded corners on hover */
}




/* Mobile responsiveness */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-bottom: 10px;
  }

  .nav-logo {
      height: 30px; /* Smaller size for mobile */
  }
}

/* Contact section styling */
#contact {
  margin: 50px 250px;
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 15px;
}

#contact h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#contact-form button:hover {
  background-color: #555;
}

