body {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 236, 227, 0.954);
  font-size: 20px;
  padding-top: 45px;
  margin-top: 45px;
  margin-left: 0;
  margin-right: 0;
}

section {
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
  margin: 25px 100px;
}

.about {
  margin-top: 25px;
}


.typewrite-container {
  height: 1.5em; /* Adjust this height based on your font size */
  display: flex;
  align-items: center; /* Vertically center the typewriting text */
  justify-content: center;
}

#blog-previews {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columns layout */
  gap: 20px;
}

.blog-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 70%;
  height: 100%;
}

.blog-preview img {
  width: auto;
  max-width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-preview h4 {
  margin: 10px 0 5px;
}

.blog-preview .details {
  font-size: 0.9em;
  color: #666;
}

.blog-preview .details span {
  display: block;
  margin-top: 5px;
}


.contact h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#contact-form button:hover {
  background-color: #555;
}

#content-container {
  padding: 20px;
  margin-top: 20px;
}

